@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form>
        <div>
            <input type="text" required="required" />
            <input type="password" required="required" />
        </div>
        <div>
            <button type="button"></button>
        </div>
    </form>
</div>
